.loginPanel,.nav,.links,.navLeft{
 display: flex;
}
.navLeft{
 justify-content: space-between;
 width: 60%;
}
.nav{
 width: 100%;
 justify-content: space-between;
 align-items: center;
 padding: 2% 4%;
}
.links p{
padding: 0 30px;
font-size: 15px;
}
.loginPanel{
 font-size: 15px;
 justify-content: space-between;
 width: 20%;
 align-items: center;
}
.login,.btnLogin,.links p{
 cursor: pointer;
}
.btnLogin{
 background: #7854F7;
border-radius: 5px;
font-size: 15px;
border: none;
color: #fff;
padding: 13px 14px;
}