body {
  background: linear-gradient(
    180deg,
    #e5efff 0%,
    rgba(229, 239, 255, 0.262661) 83.7%,
    rgba(229, 239, 255, 0) 100%
  );
  background-repeat: no-repeat;
  background-size:100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
